body {
  font-family: 'Roboto', sans-serif;
  background-color: #F9F9F9;
}

.content {
  padding-top: 64px;
}

.btn_download {
  margin-left: auto;
  margin-right: 20px;
  margin-top: 28px;
}

#wrapper {
width:100%;
margin : 0;
}

#first-div {
width:33%;
margin : 0;
float : left ;
}

#second-div {
width:33%;
margin : 0;
float : left ;
}
